.sales-container-open-menu {
  margin-left: 10.5rem;
  width: calc(100vw - 10.5rem);
}

.sales-container-closed-menu {
  margin-left: 5rem;
  width: calc(100vw - 5rem);
}
.report-bcell {
  border: 3px solid #0002;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 5px;
  width: 200%;
  max-width: 400px;
}
#dell {
  border-radius: 5px;
  background-color: var(--color-primary);
  border: none;
  color: var(--color-text-secondary);
  padding: 0.6rem 0.6rem;
  font-size: 0.7rem;
  cursor: pointer;
  width: 12%;
  margin-top: 3rem;
}
