.sales-container {
  display: grid;
  grid-template-areas:
    'h h h'
    'a a a'
    'm m m'
    'f f f';
  padding: 2rem;
  overflow: auto;
}

.clients-container-open-menu {
  margin-left: 10.5rem;
  width: calc(100vw - 10.5rem);
}

.clients-container-closed-menu {
  margin-left: 5rem;
  width: calc(100vw - 5rem);
}

.clients-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}
.clients-bcell {
  border: 3px solid #0002;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 5px;
  width: 200%;
  max-width: 400px;
}
.sales-container .customer-header {
  grid-area: h;
  width: 76%;
  padding: 1rem;
  border: 2px solid #0002;
  border-radius: 20px;
}
.sales-container .customer-header fieldset {
  width: 30%;
  padding: 0.2rem;
  border: 1px solid #0005;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}
#dell {
  border-radius: 5px;
  background-color: var(--color-primary);
  border: none;
  color: var(--color-text-secondary);
  padding: 0.5rem 1.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  width: 12%;
  margin-top: 3rem;
}
.sales-container .customer-header fieldset svg:hover {
  background-color: var(--color-primary-light);
  cursor: pointer;
  border-radius: 50%;
}
.sales-container .customer-header fieldset input {
  width: 85%;
  outline: none;
  border: none;
}
.sales-container .customer-header div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.sales-container .customer-header div fieldset {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  border: none;
}
.sales-container .customer-header div fieldset label {
  font-size: 0.8rem;
  font-weight: 700;
  margin-right: 0.5rem;
}
